<div class="business-show-container">
	<h2><%= business.get('name') %></h2>

	<p><%= business.get('num_reviews') %></p>
	<p><%= business.get('average_review') %></p>

	<div class="review-business-list">
	</div>
</div>