<div class="explore-container">

  <div id="map">

  </div>

	<div class="map-help">
		<button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="right" data-content="Drag the map or click markers to see business profiles!">?</button>
	</div>

  <div class="map-business-preview">

  </div>
</div>