<div class="jumbotron splash-header">
  <input type="text" id="typeahead" placeholder="Find a business">
</div>

<div class="categories">
  <% var categories = ["Bars & Nightlife", "Restaurants", "Coffee & Tea", "Arts & Entertainment", "Shopping", "Hotels & Travel", "Beauty & Spas", "Bakeries", "Food Carts", "Gyms", "Health & Medical", "Home Services"] %>

  <div class="category-nav">
    <% categories.forEach(function(category) { %>

    <% }); %>
  </div>

  <div class="category-results"></div>

</div>

<div class="recent-reviews">
  <div class="recent-review-list">

  </div>
  <div class="text-center">
    <a href="#" class="get-more-reviews">Load more reviews</a>
  </div>
</div>