/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require material
 *= require ripples
 *= require rateit
 *= require bootstrap-lightbox
 */
@import "bootstrap";
@import "font-awesome";

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#main {
	padding-bottom: 50px;
}

ul {
	list-style: none;
}

.link-span {
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.row-centered {
  text-align:center;
}

.col-cat-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
  vertical-align: top;
}

/* sign in pages */

.image-background-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right: 0;

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-in {
	background: url("/assets/sushi.jpg") no-repeat center center fixed;
}

.sign-up {
	background: url("/assets/coffee.jpg") no-repeat center center fixed;
}

.inner-form-container {
	width: 350px;
	margin: 0 auto;
	margin-top: 50px;
	background-color:rgba(0,0,0,0.8);
	border-radius: 3%;
	text-align: center;
	padding: 10px;
	color: white;
}

.guest-login {
	border-top: thin solid yellow;
}

/* navbar */

.logo {
	height: 30px;
	margin-top: -5px;
}

.navbar-default {
	margin-bottom: 0px;
}

/* splash */

.splash-header {
	background: url("/assets/hero_contrast.jpeg") no-repeat center center fixed;
	height: 550px;
}

.splash-header h1 {
	color: white;
	text-shadow: 0 0 3px #fff;
	text-align: center;
}

.categories {
	width: 95%;
	margin: 0 auto;
}

.cat-nav-outer {
	width: 100%;
	overflow: scroll;
}

.category-nav {
	height: 35px;
	width: 1500px;
}

.category-link-container {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	padding: 3px;
}

.category-link {
	
}

.selected-category {
	background-color: black;
	border-radius: 5%;
}

.selected-category > a {
	color: white;
}

.category-results {
	width: 100%;
	margin: 0 auto;
}

.category-thumbnail {
	height: 320px;
	width: 250px;
	margin: 10px;
	transition: opacity 2s;
	border: thin solid lightgray;
	position: relative;
}

.category-thumbnail .link-span {
	opacity: 0.15;
	background-color: black;
}

.category-thumbnail .link-span:hover {
	opacity: 0;
	transition: opacity 1s;
}

.category-thumbnail img {
	width: 248px;
	height: 200px;
	position: absolute;
	left: 0;
}

.category-thumbnail h4 {
	margin-top: 210px;
	text-align: center;
}

.category-review-section {
	display: inline-block;
	margin-left: 35px;
}

.category-thumbnail .rateit {
	display: inline;
}

.category-thumbnail .category-num-reviews {
	display: inline;
}

.category-thumbnail p {
	text-align: center;
	margin-top: 5px;
}

.recent-reviews {
	width: 550px;
	margin: 0 auto;
}

.recent-review-list {

}

.splash-review {
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-top: thin solid lightgray;
}

.splash-review h5 {
	text-align: center;
}

.splash-review-star-date {
	display: inline-block;
	margin-left: 150px;
}

.splash-review-star-date .rateit {
	display: inline;
}

.splash-review-star-date .splash-review-date {
	display: inline;
}

.splash-review-content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.splash-review-go-again {
	text-align: center;
}

.splash-review-thumbnails {
	
}

.splash-review-thumbnails .splash-thumbnail-link {
	height: 130px;
}

.splash-review-thumbnails .splash-thumbnail-link img {
	height: 98%;
	width: 98%;
}

.more-reviews-link-container {
	margin-bottom: 20px;
	position: relative;
}

.get-more-reviews {

}

/* typeahead search */

.tt-hint {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    background-color: black;
}

.tt-dropdown-menu a {
	color: white;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion p {
    margin: 0;
}

.tt-cursor {
	background-color: orange;
}

/* business show */

.business-show-container {
	padding-top: 30px;
	width: 95%;
	min-width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.business-left {
	border-right: thin solid lightgray;
}

.business-left > img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	border: thin solid gray;
	height: 300px;
	width: 400px;
	margin-bottom: 15px;
}

.static-map {
	padding-top: 15px;
	border-top: thin solid lightgray;
}

.static-map img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	border: thin solid gray;
}

.business-stats {
	max-width: 100%;
}

.business-star-review-section {
	display: block;
	width: 150px;
	margin: 0 auto;
}

.business-star-review-section .rateit {
	display: inline;
}

.business-star-review-section .category-num-reviews {
	display: inline;
}

.business-right {

}

.carousel-container {
	background-color: black;

	margin-bottom: 10px;
}

#business-photos-carousel {
	height: 450px;
	width: 600px;
	margin: 0 auto;
}

.carousel-photo {
	height: 450px !important;
	width: 600px !important;
}

.review-business-list-container {
	border-top: thin solid lightgray;
	position: relative;
}

.review-business-list-container h3 {
	float: right;
}

.review-business-list {
	
}

.review-business {
	margin-bottom: 10px;
	border-top: thin solid lightgray;
	width: 95%;
	margin: 0 auto;
}

.business-review-left {
	border-right: thin solid lightgray;
	min-height: 150px;
	margin-bottom: 10px;
}

.business-review-star-date {

}

.business-review-star-date .rateit {

}

.business-review-star-date .business-review-date {

}

.business-review-content {

}

.business-review-go-again {

}

.business-review-thumbnails {

}

.business-thumbnail-link {

}

.launch-new-review, .launch-edit-review {
	position: absolute;
	top: 5px;
	left: 20px;
}

/* user show */

.user-show-container {
	width: 95%;
	margin: 0 auto;
	min-width: 700px;
	padding-top: 30px;
	min-width: 1000px;
	margin-bottom: 20px;
}

.user-profile-area {
	border-right: thin solid lightgray;
}

.user-profile-area h2 {
	text-align: center
}

.user-avatar-container {
	border-bottom: thin solid lightgray;
	padding-bottom: 10px;
}

.user-avatar-container img {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.user-avatar-container a {
	display: block;
	text-align: center;
}

.about-me-container {
	border-bottom: thin solid lightgray;
	padding-bottom: 10px;
}

.edit-about-me-link {

}

.new-about-me-link {

}

.about-me-field {
	
}

.user-stats-container {
	padding-top: 10px;
}

.user-right-container {

}

.user-right-container h3 {
	float:right;
}

.review-user-list {
	margin-top: 50px;
}

.review-user {
	margin-bottom: 10px;
	border-top: thin solid lightgray;
	width: 95%;
	margin: 0 auto;
}

/* explore */

.explore-container {
	width: 90%;
	margin-top: 30px;
	margin-right: 5%;
	margin-left: 5%;
	min-width: 1000px;
	height: 630px;
	position: relative;
}

.map-help {
	position: absolute;
	top: 540px;
	left: 15px;
}

#map {
	height: 600px;

	/* Firefox */
	width: -moz-calc(100% - 420px);
	/* WebKit */
	width: -webkit-calc(100% - 420px);

	width: calc(100% - 420px);

	float: left;
}

.map-business-preview {
	height: 600px;
	width: 400px;
	float: right;
	position: relative;
}

.map-business-preview img {
	width: 100%;
	height: 350px;
	border: thin solid gray;
}

.preview-review-section {
	width: 155px;
	margin: 0 auto;
}

.preview-review-section .category-num-reviews {
	display: inline;
}

.preview-review-section .rateit {
	display: inline;
}

.preview-price {
	text-align: center;
	border-bottom: thin solid lightgray;
	padding-bottom: 5px;
}

.last-review-section {

}

/* review forms */

.new-review-form {

}

.edit-review-form {

}

.add-pictures {

}

.form-photos {

}

.form-thumbnail {
	height: 120px;
	width: 120px;
	border: thin solid gray;
	margin-right: 5px;
}

/* footer */

.footer {
	height: 50px;
	width: 100%;
	background-color: gray;
	position: absolute;
	bottom:0;
	left:0;
}

.footer a {
	margin-top: 15px;
	margin-right: 20px;
	color: white;
	float: right;
}