/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require material
 *= require ripples
 */
@import "bootstrap";
@import "font-awesome";

ul {
	list-style: none;
}

/* sign in pages */

.image-background-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right: 0;

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-in {
	background: url("/assets/sushi.jpg") no-repeat center center fixed;
}

.sign-up {
	background: url("/assets/coffee.jpg") no-repeat center center fixed;
}

.inner-form-container {
	width: 350px;
	margin: 0 auto;
	margin-top: 50px;
	background-color:rgba(0,0,0,0.8);
	border-radius: 3%;
	text-align: center;
	padding: 10px;
	color: white;
}

.guest-login {
	border-top: thin solid yellow;
	border-bottom: thin solid yellow;
	margin-bottom: 5px;
}

/* navbar */

.logo {
	height: 30px;
	margin-top: -5px;
}

.navbar-default {
	margin-bottom: 0px;
}

/* splash */

.splash-header {
	background: url("/assets/sanfran.jpeg") no-repeat center center fixed;
	height: 550px;
}

.splash-header h1 {
	color: white;
	text-shadow: 0 0 3px #fff;
	text-align: center;
}

.categories {
	border: thin solid black;
}

.category-nav {

}

.category-link-container {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.category-link {
	
}

.category-results {

}

.category-thumbnail {
	height: 100px;
	width: 100px;
	display: inline-block;
	transition: opacity 2s;
	background-color: red;
}

.recent-reviews {

}

.recent-review-list {

}

.splash-review {
	
}

.get-more-reviews {

}

/* typeahead search */

.tt-hint {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    background-color: black;
}

.tt-dropdown-menu div {
	background-color: black;
}

.tt-dropdown-menu a {
	color: white;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion p {
    margin: 0;
}

/* business show */

.business-show-container {

}

.review-business-list {

}

.review-business {

}

.launch-new-review, .launch-edit-review {
	
}

/* user show */

.user-show-container {

}

.user-profile-area {

}

.user-avatar-container {

}

.about-me-container {

}

.edit-about-me-link {

}

.new-about-me-link {

}

.user-stats-container {
	
}

.review-user-list {

}

.review-user {
	
}

/* explore */

.explore-container {

}

#map {
	height: 500px;
	width: 500px;
}

.map-business-preview {
	height: 100px;
	width: 200px;
}