<div class="footer">

	<a href="http://www.appacademy.io/" target="_blank">App Academy</a>

	<a href="https://www.linkedin.com/pub/michael-lee/3b/8b7/b6b" target="_blank">LinkedIn</a>

	<a href="https://github.com/poonghyun/goagainv2" target="_blank">Github</a>

</div>